.form {
  @apply w-72  px-6 py-8 pt-6;
  @apply flex flex-col gap-2.5;
  @apply bg-neutral-800 rounded-2xl;
}

.title {
  @apply mb-8;
  @apply text-center text-3xl font-bold text-green-500;
}

.container {
  @apply mb-2.5;
}

.input {
  @apply w-full px-3 py-2;
  @apply leading-none bg-neutral-900 border-2 border-neutral-400 border-opacity-40 rounded-md;

  &Invalid {
    @apply border-red-900;
  }

  &::placeholder {
    @apply text-neutral-400;
  }

  &:focus {
    @apply outline-none border-opacity-100;
  }

  &:-webkit-autofill,
  &:-webkit-autofill:hover,
  &:-webkit-autofill:focus,
  &:-webkit-autofill:active {
    -webkit-background-clip: text;
    -webkit-text-fill-color: #ffffff;
    transition: background-color 5000s ease-in-out 0s;
    box-shadow: inset 0 0 20px 20px #232323;
  }
}

.checkbox {
  appearance: none;
  background-color: #232323;
  margin: 0;
  font: inherit;
  color: #585858;
  width: 1.15em;
  height: 1.15em;
  border: 0.15em solid currentColor;
  border-radius: 0.15em;
  //transform: translateY(-0.075em);
  cursor: pointer;

  display: grid;
  place-content: center;

  &::before {
    content: '';
    width: 0.65em;
    height: 0.65em;
    transform: scale(0);
    box-shadow: inset 1em 1em #22c55e;
    background-color: CanvasText;

    // Checkmark
    transform-origin: bottom left;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }

  &:checked::before {
    transform: scale(1);
  }
}

.button {
  @apply w-full py-2 px-4;
  @apply flex items-center justify-center gap-2;
  @apply text-sm text-center font-bold bg-green-500 text-black rounded-full;

  svg {
    animation: rotate 3s linear infinite;
    scale: 1.3;
  }

  &:hover {
    @apply bg-green-600;
  }
}

.message {
  @apply text-sm text-neutral-400;
}

.error {
  @apply mt-2;
  @apply text-sm text-neutral-400 leading-tight;
}

.link {
  @apply mt-2.5;
  @apply block;
  @apply text-sm text-center text-neutral-400 underline;
}

@keyframes rotate {
  from {
    rotate: 0deg;
  }
  to {
    rotate: 360deg;
  }
}
