.table {
  @apply w-full  text-sm text-neutral-500 border-collapse;

  td {
    @apply p-2 border border-blue-500;
  }

  td:first-child {
    @apply pl-4;
  }

  td:last-child {
    @apply pr-4;
  }

  tr {
    @apply rounded;
  }

  tr:hover {
    @apply bg-white bg-opacity-10;
  }
}
