.container {
  @apply p-4 w-full h-60 bg-black rounded overflow-hidden text-[#daded7];

  background:
    linear-gradient(rgba(0, 128, 0, 0), rgba(#485133, 0.5)),
    url('https://images.unsplash.com/photo-1656182959757-4b3eb0ea5377?q=80&w=2940&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D');
  background-size: cover;
  background-position: center;
}