.listContainer {
  @apply p-1;
  @apply absolute z-20;
  @apply bg-neutral-800 rounded shadow-lg shadow-black/[0.5];
}

.bottom-left {
  bottom: 0;
  right: 0;
  transform: translate(0, calc(100% + 8px));
}

.bottom-right {
  bottom: 0;
  left: 0;
  transform: translate(0, calc(100% + 8px));
}
