.tooltip {
  @apply relative;
}

.content {
  @apply p-2 inline-block absolute text-sm text-neutral-100 whitespace-nowrap bg-neutral-800 rounded shadow-lg shadow-black/[0.5] z-50;
}

// Top
.top {
  top: 0;
  left: 50%;
  transform: translate(-50%, calc(-100% - 8px));
}

.top-left {
  top: 0;
  right: 0;
  transform: translate(0, calc(-100% - 8px));
}

.top-right {
  top: 0;
  left: 0;
  transform: translate(0, calc(-100% - 8px));
}

// Right
.right {
  right: 0;
  top: 50%;
  transform: translate(calc(100% + 8px), -50%);
}

// Bottom
.bottom {
  bottom: 0;
  left: 50%;
  transform: translate(-50%, calc(100% + 8px));
}

.bottom-left {
  bottom: 0;
  right: 0;
  transform: translate(0, calc(100% + 8px));
}

.bottom-right {
  bottom: 0;
  left: 0;
  transform: translate(0, calc(100% + 8px));
}

// Left
.left {
  left: 0;
  top: 50%;
  transform: translate(calc(-100% - 8px), -50%);
}
