.libraryCard {
  @apply p-2 flex items-center gap-3 rounded-md  cursor-pointer;

  &:hover {
    @apply bg-neutral-800;

    .cardImageContainer {
      img {
        @apply brightness-50;
      }

      svg {
        @apply inline-block;
      }
    }
  }
}

.libraryCardPlaying {
  .cardInfoName,
  .cardIcon {
    @apply text-green-500;
  }
}

// Image
.cardImageContainer {
  @apply relative rounded rounded-s overflow-hidden;

  svg {
    @apply hidden absolute size-6;

    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

.cardImage {
  @apply size-12 aspect-square object-cover object-center;
}

.cardImageRounded {
  @apply rounded-full;
}

// Info
.cardInfo {
  @apply grow;
}

.cardInfoName {
  @apply text-base mb-0.5;
}

.cardInfoDescription {
  @apply flex items-center gap-2 text-sm text-neutral-400 capitalize;
}

// Icon
.cardIcon {
  @apply size-8 p-2;
}
